doctype html
html
     head
          title= title
          link(rel='stylesheet', href='/public/style.css')
          link(rel='stylesheet', href='https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css')
     body
          block content
          block scripts
               script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
               script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
               script(src='/public/javascripts/classes/eventHTML.js')
               script(src='/public/javascripts/classes/projectHTML.js')
               script(src='/public/javascripts/classes/taskHTML.js')
               script(src='/public/javascripts/classes/projectTaskHTML.js')
               script(src='/public/javascripts/classes/siteAjax.js')
               script(src='/public/javascripts/classes/siteAuxillary.js')
               script(src='/public/javascripts/classes/userAjax.js')
               script(src='/public/javascripts/sitecreator.js')